*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7fc;
}

.container{
    width:80%;
    max-width:1000px;
    margin:40px auto;
}

h1{
    text-align:center;
    color:#2563eb;
    margin-bottom:15px;
}

.subtitle{
    text-align:center;
    color:#555;
    margin-bottom:30px;
}

form{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

label{
    font-size:18px;
    font-weight:bold;
}

input[type=file]{
    width:100%;
    margin-top:10px;
    margin-bottom:20px;
}

textarea{
    width:100%;
    padding:12px;
    margin-top:10px;
    border-radius:8px;
    border:1px solid #ccc;
    resize:vertical;
    font-size:16px;
}
input[type=text],
input[type=password]{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

button{
    background:#2563eb;
    color:white;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:17px;
}

button:hover{
    background:#1d4ed8;
}

.card{
    background:white;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.12);
}

.card h2{
    color:#2563eb;
    margin-bottom:10px;
}

.card h3{
    color:#16a34a;
    font-size:28px;
}

ul{
    margin-left:20px;
    margin-top:10px;
}

li{
    margin:8px 0;
    font-size:17px;
}

pre{
    background:#f8f8f8;
    padding:15px;
    border-radius:8px;
    white-space:pre-wrap;
    overflow-x:auto;
}